@using Nirast.Pcms.Web.Models
@model ChangePassword
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Change Password";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (localStorage.usrname != undefined && localStorage.pass != undefined) {
            $('#Email').val(localStorage.username);
            $('#Password').val(localStorage.password);
        }
    });
    function checkLogin() {
        if ($('#loginName').val() == '' || $('#loginPassword').val() == '') {
            $('#failedMessageModal').show();
            $('#failedMessageModal').text("Login name and Password are mandatory.");
            return false;
        }
       

    }
</script>

<div class="limiter">
    <div class="padT25"></div>
    @if (ViewBag.Error != null)
    {
        <div class="padT25 col-md-6 col-md-offset-3">
            <p class="alert alert-danger">
                @ViewBag.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>
    }
    @if (ViewBag.Success != null)
    {
        <div class="padT25 col-md-6 col-md-offset-3">
            <p class="alert alert-success">
                @ViewBag.Success @Html.ActionLink("Click here to login again", "Login", "Account")
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>
    }
    <div class="float:right" style="cursor:pointer" onclick="location.href ='@(Url.Action("", ""))'">
        <img  src="~/images/home.png" /><span style="color:#57b846;font-weight:bold;">Home</span>
    </div>
    <div class="container-login100">
        <div class="wrap-login100">
            @Html.AntiForgeryToken()
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        Change Password
                    </span>

                    <div class="padding-10" style="text-align: center;">
                        <label style="font-size:medium;padding-bottom:10px;">@Model.EmailId</label>
                        @*@Html.LabelFor(model => model.EmailId, new { @class = "input100", placeholder = "Registered Email" })*@
                        @Html.HiddenFor(model => model.EmailId, new { @class = "input100", placeholder = "Registered Email" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username">
                        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "input100", placeholder = "Current Password", @id = "pass" })
                        <span class="focus-input100"></span>
                    </div>
                    <div style="margin-bottom:10px">
                        @Html.ValidationMessageFor(model => model.CurrentPassword, null, new { @class = "required" })
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "input100", placeholder = "New Password", @id = "newpass" })
                        <span class="focus-input100"></span>
                    </div>
                    <div style="margin-bottom:10px">
                        @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "required" })
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate=" Retype Password">
                        @Html.PasswordFor(model => model.RetypePassword, new { @class = "input100", placeholder = "Retype Password", @id = "confirmpass" })
                        <span class="focus-input100"></span>
                    </div>
                    <div style="margin-bottom:10px">
                        @Html.ValidationMessageFor(model => model.RetypePassword, null, new { @class = "required" })
                    </div>
                    <div class="container-login100-form-btn m-b-16" style="margin-top:20px;margin-bottom:40px;">

                        <button id="btnSignIn" onclick="checkLogin()" class="btn btn-success passwordButton" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-success passwordButton" value="Cancel" type="reset" onclick="reload()">Cancel</button>
                    </div>

                </div>
            }

        </div>
    </div>

</div>
<div id="spinner">

</div>
<style>
    .login100-form-btn {
        cursor: pointer;
        width: 47%;
        margin-left: 10px;
        line-height: 3.2;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        height: 50px;
        background-color: #57b846;
        border-radius: 25px;
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .passwordButton {
        border-radius: 25px;
        width: 30%;
        background-color: #57b846;
        margin-left: 10px;
        height: 50px
    }

        .passwordButton:hover {
            background-color: #1b3815
        }
</style>
@*<script>
        function clearFields() {
            $('#pass').val('');
            $('#newpass').val('');
            $('#confirmpass').val('');


        }
    </script>*@

