@model Nirast.Pcms.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .homePage{
        color:green;
    }
    .homePage:hover{
        text-decoration:underline;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@
<div class="container">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@
    <hr />
 
    <div class="limiter">
        <div class="padT25"></div>
  
      
            <div class="container-login100">
                <div class="limiter">
                    <div class="padT25"></div>
                    @if (ViewBag.Success != null)
                    {
                    <div class="padT25 col-md-6 col-md-offset-3" id="email_error">
                        <p class="alert alert-success">@ViewBag.Success</p>
                        <p style="margin-bottom:10px;">@Html.ActionLink("Goto Home page", "Index", "Home",null, new { @class = "homePage"})</p>
                       
                    </div>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <div class="padT25 col-md-6 col-md-offset-3" id="email_error">
                            <p class="alert alert-danger">@ViewBag.Error</p>
                        </div>
                    }
                </div>
                <div class="wrap-login100">
                    @Html.AntiForgeryToken()
                    <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                            Forgot Password
                        </span>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                            @Html.TextBoxFor(model => model.Email, new { @class = "input100", placeholder = "Registered Email", @id = "EmailId" })
                            <span class="focus-input100"></span>
                        </div>
                        <div style="margin-bottom:10px">
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "required" })
                        </div>
                        <div class="container-login100-form-btn">
                            <input type="submit" id="submitBtn" class="login100-form-btn" value="Send Email" />
                            @*<button id="btnSignIn" onclick="checkLogin()" class="login100-form-btn">
                Sign in
            </button>*@
                        </div>
                        <div class="flex-col-c p-t-100 p-b-40">

                        </div>
                    </div>
                </div>
            </div>
    </div>
}

</div>
<script type="text/javascript">

    $('#submitBtn').click(function () {
        if ($('#EmailId').val() == "") {
            $("#email_error").hide()
        }
       
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
