@model IEnumerable<Nirast.Pcms.Web.Models.Notification>

<div class="">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {

                <article class="media event">
                    <a class="pull-left date">
                        <p class="month">@item.FromDateTime.ToString("MMM")</p>
                        <p class="day">@item.FromDateTime.ToString("dd")</p>
                        <p class="time">@item.FromDateTime.ToString("hh:mm tt")</p>
                    </a>
                    <div class="media-body">
                        <a class="title"><b>Booked User</b> - @item.BookedUser </a>
                        <p class="sub-title"><b>Booked on</b> @item.BookingDate.ToString("MMM dd") </p>
                        <p class="sub-title"><b>Location</b> - @item.Location</p>
                        @*<p>@item.Purpose</p>*@
                        <div class="text-right">
                            <button href="#" class="btn btn-primary btn-dashboard" data-toggle="modal" onclick="showNotificationDetails('@item.BookingId')" data-target="#modal-viewDetails">
                                View Details
                            </button>
                        </div>
                    </div>
                </article>
            }
        }
        else
        {
            <p class="alert alert-info">No Booking Notifications!!!</p>
        }
    }
    </div>

<div class="modal fade" id="notificationDetailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content panel">
            <div class="modal-header panel-heading padding-10">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title">Notification Details</h4>
            </div>
            <div id="notificationDetails" class="modal-body no-padding">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-xs btn btn-primary " data-dismiss="modal">Close</button>

                @*<button type="button" class="btn btn-default newsrightModel" data-dismiss="modal">Decline</button>*@

            </div>
        </div>
    </div>
</div>
<style>
    .spacer {
        border-bottom: 3px solid #e8e8e8;
    }
</style>
<script type="text/javascript">
    function showNotificationDetails(bookingId) {
        showProgress();
        $.ajax({
            url: "../../CareTaker/ViewNotificationDetails/",
            method:"POST",
            data: {
                bookingId: bookingId
            },
            success: function (feed) {
                $('#notificationDetails').html(feed);
                $('#notificationDetailDialog').modal('show');
                spinnerVisible = true;
                hideProgress();
            },
            error: function (feed) {
                spinnerVisible = true;
                hideProgress();
                console.log(feed.responseText);
                logError(feed.statusText + ' - Error occurred while showing Notification details. Function: showNotificationDetails(bookingId). Page: _CaretakerDashboardNotificationPartial.cshtml');
                //alert('Some error has occurred. Please try again after some time.');
            }
        });
    }

</script>