
@model IEnumerable<Nirast.Pcms.Web.Models.Roles>
<div class="table--no-card table-responsive">
    <input type="hidden" id="hiddenRoles" />
    <table id="ListRoles" class="table table-borderless table-striped table-earning padding-top-10">
        <thead>
            <tr>

                <th class="label_width">Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td onclick="editRoleDetails(@item.RoleId,'@item.RoleName')">@item.RoleName</td>

                        <td>
                            @if (ViewBag.AllowEdit)
                            {
                                <button class="btn btn-xs btn-primary" title="Modify" data-toggle="modal" onclick="editRoleDetails(@item.RoleId,'@item.RoleName')"><span class="fa fa-edit"></span></button>
                            }
                            else
                            {
                                <div class="wrapper">
                                    <button class="btn btn-xs btn-primary" title="Modify" data-toggle="modal" disabled>
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </div>
                            }

                            @if (ViewBag.AllowDelete)
                            {
                                <button class="btn btn-xs btn-danger" title="Delete" data-toggle="modal" onclick="getID(@item.RoleId)" name="deleteRole" value="deleteRole" data-target="#modal-delete"><span class="fa fa-minus-circle"></span></button>
                            }
                            else
                            {
                                <div class="wrapper">
                                    <button class="btn btn-xs btn-danger" title="Delete" disabled><span class="fa fa-minus-circle"></span></button>
                                </div>
                            }
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>

</div>
<div class="modal fade" id="modal-delete" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title">Delete Role</h4>
            </div>
            <div class="modal-body">
                Record will be deleted from the system. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="deleteRoles()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function getID(roleId) {
        debugger;
        $('#hiddenRoles').val(roleId)
    }
    function deleteRoles() {
        debugger;
        $.ajax({
            type: 'POST',
            url: "../Admin/DeleteRoles",
            data: { roleId: $('#hiddenRoles').val() },
            success: function (data) {
                alert(data)
                window.location.reload();

            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while Deletingcountry. Function: deleteUser(). Page: Country.cshtml');
                //alert('Some network error has occurred. Please try again after some time.');
            }
        });
    }
</script>

