@model IEnumerable<Nirast.Pcms.Web.Models.Testimonial>
<div class=" table--no-card table-responsive">
    <input type="hidden" id="hiddenTestimonial" />
    <table class="table table-borderless table-striped dataTable no-footer" style="width:100%" id="Testimonials">
        <thead>
            <tr>
                <th style="width:20%">Client Name</th>
                <th style="width:20%">Designation</th>
                <th style="width:30%">Description</th>
                <th style="width:10%">Website URL</th>
                <th style="width:10%">Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

            <tr>
                <td  onclick="editTestimonialDetails(@item.TestimonialId)">@item.ClientName</td>
                <td  onclick="editTestimonialDetails(@item.TestimonialId)">@item.Designation</td>
                <td  class="testimonial_Style" onclick="editTestimonialDetails(@item.TestimonialId)">@item.Description</td>
                <td  onclick="editTestimonialDetails(@item.TestimonialId)">@item.URL</td>
                <td onclick="editTestimonialDetails(@item.TestimonialId)">@item.Rating</td>
                <td>
                    @if (ViewBag.AllowEdit)
                    {
                        <button class="btn btn-xs btn-primary" title="Modify" data-toggle="modal" onclick="editTestimonialDetails(@item.TestimonialId)" data-target="#modal-default"><span class="fa fa-edit"></span></button>
                    }
                    else
                    {
                        <div class="wrapper">
                            <button class="btn btn-xs btn-primary" title="Modify" disabled><span class="fa fa-edit"></span></button>
                        </div>
                    }

                    @if (ViewBag.AllowDelete)
                    {
                        <button class="btn btn-xs btn-danger" title="Delete" data-toggle="modal" onclick="GetID(@item.TestimonialId)" name="deleteCity" value="deleteCity" data-target="#modal-delete"><span class="fa fa-minus-circle"></span></button>
                    }
                    else
                    {
                        <div class="wrapper">
                            <button class="btn btn-xs btn-danger" title="Delete" disabled><span class="fa fa-minus-circle"></span></button>
                        </div>
                    }

                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="modal-delete" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title">Delete Testimonial</h4>
            </div>
            <div class="modal-body">
                Record will be deleted from the system. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="deleteTestimonial()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function GetID(testimonialId) {
        debugger;
        $('#hiddenTestimonial').val(testimonialId)
    }
    function deleteTestimonial() {
        debugger;
        $.ajax({
            type: 'POST',
            url: "../Admin/DeleteTestimonial",
            data: { testimonialId: $('#hiddenTestimonial').val() },
            success: function (data) {
                alert(data)
                window.location.reload();
            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while Deletingcountry. Function: deleteUser(). Page: Country.cshtml');
                //alert('Some network error has occurred. Please try again after some time.');
            }
        });
    }

    function editTestimonialDetails(testimonialId) {
        debugger;
        $.ajax({
            url: '/Admin/GetTestimonialsById',
            type: "GET",
            dataType: "JSON",
            data: { testimonialId: testimonialId},
            success: function (data) {
                $.each($.parseJSON(data), function (i, item) {
                    $('#TestimonialId').val(item.TestimonialId);
                    $('#ClientName').val(item.ClientName);
                    $('#Designation').val(item.Designation);
                    $('#Description').val(item.Description);
                    $('#URL').val(item.URL);
                    $('#Rating').val(item.Rating);
                });               
            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while GetTestimonialsById. Function: GetTestimonialsById(). Page: _Testimonialpartial.cshtml');
            }
        });
        
    }

    $('#Testimonials').DataTable({
        "pagingType": "full_numbers",
        "autoWidth": false,
        //columnDefs: [
        //    { width: '20%', targets: 0 },
        //    { width: '10%', targets: 1 },
        //    { width: '50%', targets: 2 },
        //    { width: '10%', targets: 3 },
        //    { width: '5%', targets: 4 },
        //    { width: '5%', targets: 5 }
        //],
        //fixedColumns: true
    });
</script>



