@model Nirast.Pcms.Web.Models.ClientModel
@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@Styles.Render("~/css/CustomStyles.css")
@Styles.Render("~/build/css/Common.css")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Caretaker Payroll Summary</title>
</head>
<body>
    <hr />
    @{
        if (ViewBag.Error != null)
        {
            <div class="padT25"><p class="alert custom-alert-danger col-md-6 col-md-offset-3 statusmessage">@ViewBag.Error</p></div>
        }
        else
        {
            <div class="row profile_Style">
                <div class="panel panel-default report-style " id="main">
                    <div class="panel-heading">
                        <h4>Select Location</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-2" id="countrydiv">
                                    <label class="label-style">Country</label>
                                    @Html.DropDownListFor(model => model.CountryId1, ViewData["ListCountry1"] as SelectList, "--Select--", new { @Id = "ddlCountry1", @class = "form-control labelStyle", @onchange = "GetStates1()" })
                                    @Html.ValidationMessageFor(model => model.CountryId1, "", new { @class = "no-padding required" })
                                </div>
                                <div class="col-md-2" id="statediv">
                                    <label class="label-style">State</label>
                                    @Html.DropDownListFor(model => model.StateId1, ViewData["StateList1"] as SelectList, "--Select--", new { @Id = "ddlStates1", @class = "form-control labelStyle", @onchange = "GetCities1()" })
                                    @Html.ValidationMessageFor(model => model.StateId1, "", new { @class = "no-padding required" })
                                </div>
                                <div class="col-md-2" id="citydiv">
                                    <label class="label-style">City</label>
                                    @Html.DropDownListFor(model => model.CityId1, ViewData["ListCity1"] as SelectList, "--Select--", new { @Id = "ddlCity1", @class = "form-control labelStyle", onchange = "SetCity1()" })
                                    @Html.ValidationMessageFor(model => model.CityId1, "", new { @class = "no-padding required" })
                                </div>
                                <div class="col-md-2" id="branchdiv">
                                    <label class="label-style">Franchise/Branch</label>
                                    @Html.DropDownListFor(model => model.BranchId2, ViewData["ListBranch"] as SelectList, "--Select--", new { @Id = "Branch1", @class = "form-control labelStyle", onchange = "SetCity1()" })
                                    @Html.ValidationMessageFor(model => model.BranchId2, "", new { @class = "no-padding required" })
                                </div>
                                <div class="col-md-3" style="margin-top:39px;">
                                    <button class="btn btn-primary float-left editButton" title="Edit" onclick="LoadCaretakersByCategoryAndLocation()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default report-style ">
                    <div class="panel-heading">
                        <h4>Caregiver Payroll-Summary</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="col-md-12 innerDiv">
                                <div class="row">

                                    <div class="col-md-4  col-lg-4">
                                        <label class="label-style">Category</label>
                                        <select id="ddCategory" class="form-control"> </select>
                                    </div>
                                    <div class="col-md-4  col-lg-4">
                                        <label class="label-style">Caregiver Name</label>
                                        <select id="ddCareTaker" class="form-control"></select>

                                    </div>
                                    <div class="col-md-4  col-lg-4" style="display:none">
                                        <label class="label-style">Client</label>
                                        <select id="ddlClient" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4  col-lg-4">
                                        <label class="label-style">Date Range :</label>
                                        @Html.DropDownList("ddlSearchRange", ViewData["listPaySearch"] as SelectList, new { @class = "form-control col-md-3 labelStyle", autocomplete = "off" })
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <label id="lblfrmdate" class="label-style">From Date :</label>
                                        @Html.TextBox("FromDate", "", new { @class = "datePickerControlStyle datetimepicker form-control labelStyle", @id = "txtFromDate", @placeholder = "From Date", @onchange = "dateRangeValidation(this.value)" })

                                        <label id="lblyear" class="label-style">Year :</label>
                                        @Html.DropDownList("ddlyear", ViewData["listYears"] as SelectList, new { @class = "form-control col-md-12 labelStyle", @id = "ddlYearly", @onchange = "setYear()" })
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <label id="lblmonth" class="label-style">Month :</label>
                                        @Html.DropDownList("ddlMonth", ViewData["listMonths"] as SelectList, new { @class = "form-control col-md-12 labelStyle", @id = "ddlMonthly", @onchange = "setMonth()" })
                                        <label id="lbltodate" class="label-style">To Date :</label>
                                        @Html.TextBox("ToDate", "", new { @class = "datePickerControlStyle datetimepicker form-control labelStyle", @id = "txtToDate", @placeholder = "To Date", @onchange = "dateRangeValidation(this.value)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-lg-12" style="padding-top:10px;padding-left:inherit">
                                        <input type="checkbox" id="chkOrientation" value=""> Include Orientation
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12" style="padding-bottom: 15px;">
                                <div class="col-md-5"></div>
                                <div class="col-md-3 text-center">
                                    <button type="submit" id="btnSearch" class="btn btn-primary m-t-10">Search</button>
                                    <label class="btn btn-primary m-t-10" value="Cancel" onclick="reload()">Cancel</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container animsition" style="padding-bottom: 15px;">

                <div class="row">
                    <div class="equal-height-panels">
                        <div class="ui segment">
                            <div id="dvMain" name="dvMain">
                                <div class="clr"></div>
                                <div class="col-md-12">
                                    <div class="signature-pad col-md-12">

                                        <div class="panel panel-group panel-success">
                                            <div class="panel-heading"><h5>Report View</h5></div>
                                            <div class="panel-body">
                                                <div id="policyContent" type="text" readonly="readonly">
                                                    @*<iframe src=@Model.policyContent frameBorder="0"></iframe>*@
                                                    @*<iframe src='@Url.Action("GetPDF", "Admin")' width="100%" height="1000" frameBorder="0"></iframe>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="spinner">

            </div>
            <script>
                $(document).ready(function () {

                    var role = @Html.Raw(Json.Encode(ViewData["UserWorkRole"]));
                    if (role == 1) {


                        document.getElementById('countrydiv').style.display = "none";

                    }
                    if (role == 2) {

                        document.getElementById('countrydiv').style.display = "none";
                        document.getElementById('statediv').style.display = "none";

                    }
                    if (role == 3) {
                        document.getElementById('countrydiv').style.display = "none";
                        document.getElementById('statediv').style.display = "none";
                        document.getElementById('citydiv').style.display = "none";
                       
                    }
                    if (role == 4) {
                        document.getElementById('main').style.display = "none";
                    }
                });
                $("#ddlCity1").change(function () {
                    var cityId = $('#ddlCity1').val();
                    $.ajax({
                        url: '/Admin/GetBranch?city=' + cityId,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        datatype: JSON,
                        success: function (data) {
                            console.log(data);
                            var ddlState = $("#Branch1");
                            ddlState.empty().append('<option selected="selected" value="0">--Select--</option>');

                            $.each(data, function (data, value) {

                                ddlState.append($("<option></option>").val(value.BranchId).html(value.BranchName));
                            });

                        }
                    });
                });
                $.ajax({
                    url: "/Client/LoadClient",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {

                        $("#ddlClient").html(""); // clear before appending new list
                        $("#ddlClient").append($('<option></option>').val("").html("--Select--"));
                        $.each($.parseJSON(result), function (i, care) {
                            $("#ddlClient").append($('<option></option>').val(care.ClientId).html(care.ClientName));
                        })
                    },
                    error: function (data) {
                        logError(data.statusText + ' - Error occurred while loading Clients. Function: "/Client/LoadClient". Page: CaretakerPayHoursReport.cshtml');
                        alert('Some network error has occurres. Please try again after some time.');
                }
                });


                $.ajax({
                    url: "/Client/LoadCategory",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {

                        $("#ddCategory").html(""); // clear before appending new list
                        $("#ddCategory").append($('<option></option>').val("0").html("--Select--"));
                        $.each($.parseJSON(result), function (i, care) {
                            $("#ddCategory").append($('<option></option>').val(care.CategoryId).html(care.Name));
                        })
                    },
                    error: function (data) {
                        logError(data.statusText + ' - Error occurred while loading Caretaker Types. Function: "/Client/LoadCategory". Page: CaretakerPayHoursReport.cshtml');
                        alert('Some network error has occurres. Please try again after some time.');
                    }
                });

                //$('#ddCategory').change(function () {
                //   // debugger
                //    if ($('#ddCategory option:selected').text() != '' && $('#ddCategory option:selected').text() != '--Select--') { }
                //        var categoryId = $('#ddCategory').val();
                //        $.ajax({
                //            url: '/Client/LoadCaretakersByCategory',
                //            type: "GET",
                //            dataType: "JSON",
                //            data: { categoryId: categoryId },
                //            success: function (data) {
                //                $("#ddCareTaker").html(""); // clear before appending new list
                //                $("#ddCareTaker").append(
                //                    $('<option></option>').val("").html("--Select--"));
                //                $.each($.parseJSON(data), function (i, care) {
                //                    $("#ddCareTaker").append(

                //                        $('<option></option>').val(care.CaretakerId).html(care.CareTakerName));

                //                });



                //            },
                //        });

                //})

                $('#ddCategory').change(function () {
                    if ($('#ddCategory option:selected').text() != '' && $('#ddCategory option:selected').text() != '--Select--') { }
                    var categoryId = $('#ddCategory').val();
                    $.ajax({
                        url: '/Client/LoadCaretakersByCategory',
                        type: "POST",
                        data: {
                            categoryId: categoryId
                        },
                        success: function (data) {
                            $("#ddCareTaker").html(""); // clear before appending new list
                            $("#ddCareTaker").append(
                                $('<option></option>').val("").html("--Select--"));
                            $.each($.parseJSON(data), function (i, care) {
                                $("#ddCareTaker").append(
                                $('<option></option>').val(care.CaretakerId).html(care.CareTakerName));
                            });
                        },
                    });
                })

                function LoadCaretakersByCategoryAndLocation() {
                    var categoryId = $('#ddCategory').val();
                    $.ajax({
                        url: '/Client/LoadCaretakersByCategoryAndLocation',
                        type: "POST",
                        data: {
                            categoryId: categoryId,
                            countryId: $('#ddlCountry1').val(),
                            stateId: $('#ddlStates1').val(),
                            cityId: $('#ddlCity1').val()
                        },
                        success: function (data) {
                            $("#ddCareTaker").html(""); // clear before appending new list
                            $("#ddCareTaker").append(
                                $('<option></option>').val("").html("--Select--"));
                            $.each($.parseJSON(data), function (i, care) {
                                $("#ddCareTaker").append(
                                    $('<option></option>').val(care.CaretakerId).html(care.CareTakerName));
                            });
                        },
                    });
                }

                function setYear() {
                    $('#Year').val($("#ddlYearly").val());
                }

                function setMonth() {
                    var d = new Date();
                    $('#Month').val($('#ddlMonthly').val());
                }

                $(function () {

                    $('#txtFromDate').datepicker({
                        dateFormat: "@System.Configuration.ConfigurationManager.AppSettings["DTDateFormat"].ToString()",
                        showStatus: true,
                        showWeeks: true,
                        currentText: 'Now',
                        autoSize: true,
                        gotoCurrent: true,
                        showAnim: 'blind',
                        changeMonth: true,
                        changeYear: true,
                        highlightWeek: true
                    });

                    $('#txtToDate').datepicker({
                        dateFormat: "@System.Configuration.ConfigurationManager.AppSettings["DTDateFormat"].ToString()",
                        showStatus: true,
                        showWeeks: true,
                        currentText: 'Now',
                        autoSize: true,
                        gotoCurrent: true,
                        showAnim: 'blind',
                        changeMonth: true,
                        changeYear: true,
                        highlightWeek: true
                    });
                    $("#divyear").hide();
                    $("#divmonth").hide();
                    $("#ddlYearly").hide();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    $("#lblyear").hide();
                    $("#lblmonth").hide();
                    $("#lblfrmdate").hide();
                    $("#lbltodate").hide();

                    $("#ddlSearchRange").change(function () {
                        var currentTime = new Date();
                        var year = currentTime.getFullYear();
                        if ($(this).val() == "1") { // It doesn't work over here.
                            $("#ddlYearly").show();
                            $("#divyear").show();
                            $("#divmonth").hide();
                            $("#ddlMonthly").hide();
                            $("#txtFromDate").hide();
                            $("#txtToDate").hide();

                            $("#lblyear").show();
                            $("#lblmonth").hide();
                            $("#lblfrmdate").hide();
                            $("#lbltodate").hide();
                            $("#ddlYearly").val(year);
                            document.getElementById("ddlMonthly").selectedIndex = "0";
                            setYear();
                            setMonth();
                            document.getElementById("txtFromDate").value = "";
                            document.getElementById("txtToDate").value = "";

                        } else if ($(this).val() == "2") {
                            $("#divyear").show();
                            $("#divmonth").show();
                            $("#ddlYearly").show();
                            $("#ddlMonthly").show();
                            $("#txtFromDate").hide();
                            $("#txtToDate").hide();

                            $("#lblyear").show();
                            $("#lblmonth").show();
                            $("#lblfrmdate").hide();
                            $("#lbltodate").hide();
                            $("#ddlYearly").val(year);
                            $("#ddlMonthly").val(currentTime.getMonth() + 1);
                            setYear();
                            setMonth();
                            document.getElementById("txtFromDate").value = "";
                            document.getElementById("txtToDate").value = "";
                        }
                        else if ($(this).val() == "3") {
                            $("#divyear").show();
                            $("#divmonth").show();
                            $("#ddlYearly").hide();
                            $("#ddlMonthly").hide();
                            $("#txtFromDate").show();
                            $("#txtToDate").show();

                            $("#lblyear").hide();
                            $("#lblmonth").hide();
                            $("#lblfrmdate").show();
                            $("#lbltodate").show();
                            $("#ddlYearly").val(year);
                            document.getElementById("ddlMonthly").selectedIndex = "0";
                            setYear();
                            setMonth();
                        }
                        else {
                            $("#divyear").hide();
                            $("#divmonth").hide();
                            $("#ddlYearly").hide();
                            $("#ddlMonthly").hide();
                            $("#txtFromDate").hide();
                            $("#txtToDate").hide();

                            $("#lblyear").hide();
                            $("#lblmonth").hide();
                            $("#lblfrmdate").hide();
                            $("#lbltodate").hide();
                            document.getElementById("txtFromDate").value = "";
                            document.getElementById("txtToDate").value = "";
                            $("#ddlYearly").val(year);
                            $("#ddlMonthly").val(currentTime.getMonth() + 1);
                            setYear();
                            setMonth();
                        }
                    });

                    $('#btnSearch').click(function () {
                        debugger;
                        //var start = $('#txtFromDate').val();
                        //var end = $('#txtToDate').val();
                        //var startDate = new Date(start);
                        //var endDate = new Date(end);
                        //var diffDates = new Date(endDate - startDate);
                        //var diffdays = diffDates / 1000 / 60 / 60 / 24;
                        //if (diffdays > 31)
                        //{
                        //    alert("Duration should not be greater than 31 days!")
                        //    $('#txtFromDate').val('');
                        //    $('#txtToDate').val('');
                        //    return;
                        //}

                        debugger;
                        var searchText = $("#ddlClient").val();
                        var work = $("#ddWorkMode").val();
                        var category = $("#ddCategory").val();
                        var caretaker = $("#ddCareTaker").val();
                        var year = $("#ddlYearly").val();
                        var month = $("#ddlMonthly").val();
                        var fromdate = $("#txtFromDate").val();
                        var todate = $("#txtToDate").val();
                        var isOrientation = $("#chkOrientation").prop("checked");
                        var categoryText = $("#ddCategory option:selected").text();
                        var caretakerText = $("#ddCareTaker option:selected").text();


                        //ASPX page URL to load report
                        var src = '../Reports/CaretakerPayroll.aspx?';

                        var range = $("#ddlSearchRange").val();
                        var month = $("#ddlMonthly").val();
                        var fromdate = $("#txtFromDate").val();
                        var todate = $("#txtToDate").val();
                        if (range == 2 && month == 0) {
                            alert("Please select any month.");
                            return false;
                        }
                        if (range == 3) {
                            if (fromdate == '') {
                                alert('Select from date.');
                                return false;
                            }
                            if (todate == '') {
                                alert('Select to date.');
                                return false;
                            }
                        }
                            showProgress();
                            src = src + "clientId=" + searchText
                            src = src + "&year=" + year
                            src = src + "&month=" + month
                            src = src + "&fromdate=" + fromdate
                            src = src + "&todate=" + todate
                            src = src + "&category=" + category
                            src = src + "&caretaker=" + caretaker
                            src = src + "&isOrientation=" + isOrientation
                            src = src + "&categoryText=" + categoryText
                            src = src + "&caretakerText=" + caretakerText
                        //setTimeout(function () {

                        //    hideProgress();

                        //}, 6000);


                        $("#policyContent").html('<iframe  src="' + src + '"style="width: 100%; height: 700px" onload="hideProgress()"></iframe>');
                    });
                });

            </script>
        }
    }

</body>
</html>

