@model Nirast.Pcms.Web.Models.DesignationViewModel

@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<head>
    @*<script src="~/css/AdminDashboard/jquery/dist/jquery.min.js"></script>*@
    <script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    @Styles.Render("~/css/CustomStyles.css")
    @Styles.Render("~/build/css/Common.css")


    @*<script type="text/javascript">

        </script>*@
    
</head>
<div class="container animsition">

    <div class="row profile_Style">
        <div class="equal-height-panels">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                @if (ViewBag.Error != null)
                {
                    <div><p class="alert custom-alert-danger col-md-6 col-md-offset-3 statusmessage">@ViewBag.Error</p></div>
                }
                else
                {
                    if (TempData["Success"] != null && TempData["Success"] != "")
                    {
                        <p class="alert alert-success statusmessage" id="successMessage">@TempData["Success"]</p>
                    }

                    if (TempData["Failure"] != null)
                    {
                        <p class="alert custom-alert-danger statusmessage">@TempData["Failure"]</p>
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Manage Designations</h4>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("AddDesignation", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.TextBoxFor(Model => Model.DesignationId, "", new { @class = "col-md-2 labelStyle hidden" })
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Designation", new { @class = "control-label label-style marginTopStyle" })<span class="mandatoryField">*</span>
                                        @Html.TextBoxFor(model => model.Designation, "", new { @class = "form-control labelStyle" })
                                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "labelStyle required" })
                                    </div>

                                </div>
                             
                            </div>
                                <div class="designation-style text-center form-group ">
                                    @{
                                        if (ViewBag.AllowEdit)
                                        {
                                            <input type="submit" class="btn btn-primary m-t-10" value="Save">
                                            <label class="btn btn-primary m-t-10" value="Cancel" onclick="reload()">Cancel</label>
                                        }
                                        else
                                        {
                                            <div class="wrapper">
                                                <input type="submit" class="btn btn-primary m-t-10" value="Save" disabled>
                                                <label class="btn btn-primary m-t-10" value="Cancel" onclick="reload()">Cancel</label>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        @{Html.RenderAction("DesignationList");}
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {


        $(document).ready(function () {
            $('#DesignationList').DataTable({
                "pagingType": "full_numbers"
            });
            $("#ddlYearly").hide();
            $("#ddlMonthly").hide();
            $("#txtFromDate").hide();
            $("#txtToDate").hide();
            $("#ddlSearchRange").change(function () {
                if ($(this).val() == "1") { // It doesn't work over here.
                    $("#ddlYearly").show();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("ddlCountry").selectedIndex = "1";
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";

                } else if ($(this).val() == "2") {
                    $("#ddlYearly").show();
                    $("#ddlMonthly").show();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";
                }
                else if ($(this).val() == "3") {
                    $("#ddlYearly").hide();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").show();
                    $("#txtToDate").show();
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                }
                else {
                    $("#ddlYearly").hide();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                }
            });
        });
       
    });
</script>


