@model List<Nirast.Pcms.Web.Models.OfficeStaffRegistration>
@using Nirast.Pcms.Web.Models
@{
    ViewBag.Title = "ManageOfficeStaff";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<head>
    @*<script src="~/css/AdminDashboard/jquery/dist/jquery.min.js"></script>*@

    <script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    @Styles.Render("~/css/CustomStyles.css")

</head>
@*@using (Html.BeginForm("ManageOfficeStaff", "Admin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {*@

<div class="container animsition">
    <script src="~/js/easyResponsiveTabs.js" type="text/javascript"></script>
    @if (ViewBag.Error != null)
    {
        <div><p class="alert custom-alert-danger col-md-6 col-md-offset-3 statusmessage">@ViewBag.Error</p></div>
    }
    else
    {
        <div class="row profile_Style">
            <div class="panel panel-default report-style ">
                <div class="panel-heading">
                    <h4>Select Location</h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-style">Country</label>
                                @Html.DropDownListFor(model => model[0].CountryId1, ViewData["ListCountry1"] as SelectList, "--Select--", new { @Id = "ddlCountry1", @class = "form-control labelStyle", @onchange = "GetStates1()" })
                                @Html.ValidationMessageFor(model => model[0].CountryId1, "", new { @class = "no-padding required" })
                            </div>
                            <div class="col-md-2">
                                <label class="label-style">State</label>
                                @Html.DropDownListFor(model => model[0].StateId1, ViewData["StateList1"] as SelectList, "--Select--", new { @Id = "ddlStates1", @class = "form-control labelStyle", @onchange = "GetCities1()" })
                                @Html.ValidationMessageFor(model => model[0].StateId1, "", new { @class = "no-padding required" })
                            </div>
                            <div class="col-md-2">
                                <label class="label-style">City</label>
                                @Html.DropDownListFor(model => model[0].CityId1, ViewData["ListCity1"] as SelectList, "--Select--", new { @Id = "ddlCity1", @class = "form-control labelStyle", onchange = "SetCity1()" })
                                @Html.ValidationMessageFor(model => model[0].CityId1, "", new { @class = "no-padding required" })
                            </div>

                            <div class="col-md-2">
                                <label class="label-style">Franchise/Branch</label>
                                @Html.DropDownListFor(model => model[0].BranchId1, ViewData["ListCity1"] as SelectList, "--Select--", new { @Id = "Branch1", @class = "form-control labelStyle", onchange = "SetCity1()" })
                                @Html.ValidationMessageFor(model => model[0].BranchId1, "", new { @class = "no-padding required" })
                            </div>
                            <div class="col-md-3" style="margin-top:39px;">
                                <button class="btn btn-primary float-left editButton" title="Edit" onclick="LoadUserByLocation()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="h4-label">Manage Office Staff</h3>
        if (TempData["Success"] != null)
        {
            <p class="alert alert-success statusmessage">@TempData["Success"].ToString()</p>
        }
        <div class="row">
            <div class="equal-height-panels">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="hidden" id="hdnCTId" />
                    <div class=" table--no-card m-b-40 table-responsive">
                        <table class="table table-striped padding-top-10 table-earning" id="OfficeStaffManagement">
                            <thead>
                                <tr>
                                    <th>Staff Name</th>
                                    <th>Designation</th>
                                    <th>Contact Number</th>
                                    <th>Country</th>
                                    <th>@Resource.State</th>
                                    <th>City</th>
                                    <th>Login Status</th>
                                    <th>Email Verification</th>

                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        var verified = @item.UserVerified == true ? "Verified" : "Pending";
                                        var status = @item.UserStatus == Enums.UserStatus.Active ? "Active" : "Disabled";
                                        <tr>

                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.FirstName</td>
                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.Designation</td>
                                            <td style="width:15%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.PrimaryPhoneNo</td>
                                            <td style="width:15%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.Country</td>
                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.State</td>
                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@item.City</td>
                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@status</td>
                                            <td style="width:20%" onclick="location.href ='@(Url.Action("ViewOfficeStaffProfile", "Admin", new {id=item.UserRegnId }))'">@verified</td>

                                            <td class="text-right">
                                                @if (ViewBag.AllowEdit)
                                                {
                                                    <button class="btn btn-xs btn-primary" title="View" data-toggle="modal" data-target="#modal-default" onclick="window.location='@Url.Action("ViewOfficeStaffProfile", "Admin",new { id=item.UserRegnId})'"><span class="fa fa-eye"></span></button>
                                                    <button href="#" class="btn btn-xs theme-button fa fa-key" title="Reset password" onclick="showBookingDetails('@item.UserRegnId')"></button>
                                                    if (item.UserStatus == Enums.UserStatus.Active)
                                                    {
                                                        <button class="btn btn-xs btn-warning" title="Make Inactive" onclick="changeStatus(@item.UserRegnId,@((int)Enums.UserStatus.InActive))"><span class="fa fa-toggle-on"></span></button>
                                                    }
                                                    else if (item.UserStatus == Enums.UserStatus.InActive)
                                                    {
                                                        <button class="btn btn-xs btn-warning" title="Make Active" onclick="changeStatus(@item.UserRegnId,@((int)Enums.UserStatus.Active))"><span class="fa fa-toggle-off"></span></button>
                                                    }
                                                }

                                                else
                                                {
                                                    <div class="wrapper">
                                                        <button class="btn btn-xs btn-primary" title="View" disabled><span class="fa fa-eye"></span></button>
                                                        @{
                                                            if (item.UserStatus == Enums.UserStatus.Active)
                                                            {
                                                                <button class="btn btn-xs btn-warning" title="Make Inactive" disabled><span class="fa fa-toggle-on"></span></button>
                                                            }
                                                            else if (item.UserStatus == Enums.UserStatus.InActive)
                                                            {
                                                                <button class="btn btn-xs btn-warning" title="Make Active" disabled><span class="fa fa-toggle-off"></span></button>
                                                            }
                                                        }
                                                    </div>
                                                }

                                                @if (ViewBag.AllowDelete)
                                                {
                                                    <button class="btn btn-xs btn-danger" title="Delete" data-toggle="modal" data-target="#modal-delete" onclick="setOfficeStaffId('@item.UserRegnId')">
                                                        <span class="fa fa-minus-circle"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <div class="wrapper">
                                                        <button class="btn btn-xs btn-danger" title="Delete" disabled><span class="fa fa-minus-circle"></span></button>
                                                    </div>
                                                }


                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div id="ResultList"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-delete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        <h4 class="modal-title">Delete Office Staff Details</h4>
                    </div>
                    <div class="modal-body">
                        Record will be deleted from system. Are you sure to delete?
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="deleteUser()" class="btn btn-primary" data-dismiss="modal">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
</div>

<div class="modal fade" id="bookingDetailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content panel">
            <div class="modal-header panel-heading padding-10">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div id="bookingDetail" class="modal-body no-padding">

            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-primary " onclick="SavePassword()">Save</button>
                <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div id="spinner">

</div>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('#OfficeStaffManagement').DataTable({
                "pagingType": "full_numbers"
            });
            $("#ddlYearly").hide();
            $("#ddlMonthly").hide();
            $("#txtFromDate").hide();
            $("#txtToDate").hide();
            $("#ddlSearchRange").change(function () {
                if ($(this).val() == "1") { // It doesn't work over here.
                    $("#ddlYearly").show();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";

                } else if ($(this).val() == "2") {
                    $("#ddlYearly").show();
                    $("#ddlMonthly").show();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";
                }
                else if ($(this).val() == "3") {
                    $("#ddlYearly").hide();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").show();
                    $("#txtToDate").show();
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                }
                else {
                    $("#ddlYearly").hide();
                    $("#ddlMonthly").hide();
                    $("#txtFromDate").hide();
                    $("#txtToDate").hide();
                    document.getElementById("txtFromDate").value = "";
                    document.getElementById("txtToDate").value = "";
                    document.getElementById("ddlYearly").selectedIndex = "0";
                    document.getElementById("ddlMonthly").selectedIndex = "0";
                }
            });
        });
    });

    function setOfficeStaffId(userId) {
        $('#hdnCTId').val(userId);
    }
    function deleteUser() {
        $.ajax({
            type: 'POST',
            url: "../Admin/ChangeStatus",
            data: { userId: $('#hdnCTId').val(), status: 3 },
            success: function () {
                window.location.reload();
            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while deleting a office staff. Function: setOfficeStaffId(userId). Page: ManageOfficeStaff.cshtml');
                //alert('Some network error has occurred. Please try again after some time.');
            }
        });
    }
    function changeStatus(userId, status) {
        $.ajax({
            type: 'POST',
            url: "../Admin/ChangeStatus",
            data: { userId: userId, status: status },
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while changing a office staff status. Function: changeStatus(userId, status) . Page: ManageOfficeStaff.cshtml');
                //alert('Some network error has occurred. Please try again after some time.');
            }
        });
    }
    $(document).ready(function () {
        $('#userList').DataTable({
            "pagingType": "full_numbers"
        });
    })


    function showBookingDetails(bookingId) {
        showProgress();
        $.ajax({
            url: "../Admin/UserLoginDetails/",
            data: {
                bookingId: bookingId
            },
            success: function (feed) {
                $('#bookingDetail').html(feed);
                $('#bookingDetailDialog').modal('show');
                spinnerVisible = true;
                hideProgress();
            },
            error: function (feed) {
                spinnerVisible = true;
                hideProgress();
                console.log(feed.responseText);
                logError(feed.statusText + ' - Error occurred while showing a office staff login details. Function: showBookingDetails(bookingId). Page: ManageOfficeStaff.cshtml');
                //alert('Some network error has occurred. Please try again after some time.');
            }
        });
    }

    function SavePassword() {
        var newPswd = $("#newpswd").val();
        var cnfrmPswd = $("#cnfrmpswd").val();
        var emailID = $("#lblemail").text();
        var password = $("#lblpassword").text();

        var reg = new RegExp('^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[~`!@@#\$%\^&\*,.])(?=.{8,})');
        if (reg.test(newPswd) == false) {
            alert('Password must be minimum 8 characters including 1 uppercase , one special character and alphanumeric characters.');
            return;
        }
        else if (newPswd != cnfrmPswd) {
            alert("'New Password' and 'Confirm Password' doesn't match.");
        }

        //if (((newPswd.length > 0) && (newPswd.length < 8)) || ((cnfrmPswd.length > 0) && (cnfrmPswd.length < 8))) {
        //    alert("Password must be minimum 8 characters long");
        //    return;
        //}
        //else if (newPswd.length == 0 || cnfrmPswd.length == 0) {
        //    alert("Password fields are required");
        //    return;
        //}
        if (newPswd == cnfrmPswd) {
            $.ajax({
                url: "../Admin/ChangePswd/",
                data: {
                    newPswd: newPswd,
                    emailID: emailID
                },
                success: function (feed) {
                    alert("Password changed successfully");
                    $('#bookingDetailDialog').modal('hide');
                },
                error: function (feed) {
                    console.log(feed.responseText);
                    logError(feed.statusText + ' - Error occurred while changing a office staff login password. Function: SavePassword(). Page: ManageOfficeStaff.cshtml');
                    //alert('Some network error has occurred. Please try again after some time.');
                }
            });
        }
    }

    function LoadUserByLocation() {
        $.ajax({
            url: "/Admin/ManageOfficeStaffByLocation",
            type: "POST",
            data: {
                countryId: $('#ddlCountry1').val(),
                stateId: $('#ddlStates1').val(),
                cityId: $('#ddlCity1').val()
            },
            success: function (feed) {
                spinnerVisible = true;
                hideProgress();
                $('#OfficeStaffManagement').hide();
                $('#ResultList').html(feed);
            },
            error: function (data) {
                logError(data.statusText + ' - Error occurred while loading Clients. Function: "/Client/LoadClient". Page: AvailableCaretakerReport.cshtml');
                //alert('Some network error has occurres. Please try again after some time.');
            }
        });
    }


    $("#ddlCity1").change(function () {
        var cityId = $('#ddlCity1').val();
        //alert(stateId);

        $.ajax({
            url: '/Admin/GetBranch?city=' + cityId,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (data) {
                console.log(data);
                var ddlState = $("#Branch1");
                ddlState.empty().append('<option selected="selected" value="0">--Select--</option>');

                $.each(data, function (data, value) {

                    ddlState.append($("<option></option>").val(value.BranchId).html(value.BranchName));
                });

            }
        });
    });

</script>

